
.background {
  background-color: rgb(19, 36, 36);
}

.navbar {
  height: 50px;
  border: solid rgb(16, 31, 31);
}

.navlinks {
  text-decoration: none;
  color: white;
  text-shadow: rgb(16, 31, 31) 1px, 1px, 1px, 1px;
  font-size: x-large;
  margin: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.chart {
  padding: 70px;
}

.table {
  text-align: center;
  background-color: rgb(16, 31, 31);
  color:white;
  box-shadow: black 1px;
  align-items: center;
  justify-content: center;
  width: 87%;
  padding: 3%;
  margin: auto;
}

.cell {
  border: solid rgb(11, 22, 22)
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
